# All Models newly declared after a House belong to that House.
House        group6

# Creates a new Refrigerator with the given configuration
Refrigerator refrigerator power       150
Refrigerator refrigerator on-time       3
Refrigerator refrigerator duty-cycle    0.3

# When another House is declared, the following NEW Models will be placed in it
House        next-door

# Should not be placed in next-door as it was first defined under House group6
Refrigerator refrigerator usage-cycle   0.5

# Belongs to House next-door and is configured with the default options unless they are defined elsewhere
Refrigerator next-door-frige