House        group6

Person       phase2

Bath         bath         capacity     200.0
Bath         bath         waterheater    waterheater

Dishwasher   dishwasher   run-time      45.0
Dishwasher   dishwasher   water-time    20.0
Dishwasher   dishwasher   on-power    2000.0
Dishwasher   dishwasher   off-power      4.0
Dishwasher   dishwasher   water-volume  22.0
Dishwasher   dishwasher   water-temp    42.0
Dishwasher   dishwasher   waterhheater   waterheater

Microwave    microwave    power       1500.0
Microwave    microwave    min-time       0.667
Microwave    microwave    max-time       2.0

Oven         oven         bake-time     30.0

Refrigerator refrigerator power        150.0
Refrigerator refrigerator on-time        3.0
Refrigerator refrigerator duty-cycle     0.3
Refrigerator refrigerator usage-cycle    0.5

Shower       shower       wh-name        waterheater

Stove        stove

Television   television   on-power     180.0
Television   television   off-power     10.0

Toaster      toaster

WaterHeater  waterheater  capacity     200.0
WaterHeater  waterheater  heat-loss      0.0029
WaterHeater  waterheater  heat-gain      0.215
WaterHeater  waterheater  power       4500.0
WaterHeater  waterheater  temp-on       49.0
WaterHeater  waterheater  temp-off      50.0
WaterHeater  waterheater  temp-incoming  7.0
